body {
  background-color: #fff;
  margin: 7em;
  font-family: helvetica, arial;
}

h1 {
  float: left;
  font-size: 3em;
  margin: 0em;
}

h1 a {
  text-decoration: none;
  color: #000;
}

#tag-line {
  float: left;
  font-size: 1em;
  margin-left: .4em;
  margin-top: 1.95em;
}

h2 {
  font-size: 1.8em;
  margin-top: .5em;
  margin-left: 1em;
}

hr {
  clear: both;
}

.errors {
  color: red;
}

.errors ul {
  list-style-type: none;
}

p {
}

#nav {
  float: right;
  font-size: 1.3em;
  margin-top: 1.35em;
}

#nav a {
  text-decoration: none;
  color: blue;
}

#content-body {
  text-align: center;
  clear: right;
}

#left-content-body {
  text-align: left;
  float:left;
  font-size: 1em;
  width: auto;
}

form ul {
  list-style-type: none;
}

form li {
  clear: both;
  line-height: 2em;
}

#login-form label {
  float: left;
  width: 7em;
  padding-right: 1em;
}

#login-form input {
  float: left;
}

#login-form .submit-button {
  clear: both;
  margin-left: 10.5em;
  margin-top: .5em;
}

#login-form .errors {
  margin-left: 5.5em;
}

#register-form label {
  float: left;
  width: 9em;
  padding-right: 1em;
}

#register-form input {
  float:left;
}

#register-form .submit-button {
  clear: both;
  margin-left: 12.5em;
  margin-top: .5em;
}

#register-form .errors {
  margin-left: 7.5em;
}

#create-form label {
  float: left;
  width: 5em;
  padding-right: 1em;
}

#create-form input {
  float:left;
}

#create-form .submit-button {
  clear: both;
  margin-left: 8.5em;
  margin-top: .5em;
}

#create-form .errors {
  margin-left: 3.5em;
}

#right-content-body {
  text-align: center;
  padding: 1em;
  margin-top: 1em;   
  float: right;
  font-size: 1em;
  background-color: #333;
}

#right-content-body a {
  text-decoration: none;
  color: #ddd;
  font-weight: bold;
}

#left-content-body p, right-content-body p {
}

#latest-pubs, #view-pub {
  margin-left: 2em;
}


#latest-pubs .label, #view-pub .label {
  float: left;
  margin-right: 1em;
  width: 5em;
}

#latest-pubs .value, #view-pub .value {
  float: left;
}

#latest-pubs p, #view-pub p {
  clear: both;
  margin-bottom: 1.5em;
}

#latest-pubs .reading, #view-pub #reading {
  clear: left;
  padding-top: 1.5em;
  margin-left: 6em;
}

#latest-pubs .reading-form, #view-pub #reading-form {
  clear: left;
  padding-top: 1em;
  margin-left: 3.5em;
  padding-bottom: 2em;
}

#latest-pubs .reading-form label, #view-pub #reading-form label {
  float: left;
  width: 3em;
  padding-right: 1em;
}

#latest-pubs .reading-form input, #view-pub #reading-form input {
  float: left;
}

#latest-pubs .reading-form .submit-button, #view-pub #reading-form .submit-button {
  clear: both;
  margin-left: 6.5em;
  margin-top: .5em;
}

#footer {
  clear: both;  
  padding-top: 1em;
  font-size: .8em;
}

#footer p {
  float: right;
  margin-top: .1em;
}