{% extends "base.html" %}

{% block header %}
  Create a new publication
{% endblock %}

{% block content_left %}
  <div id="create-form">
    <form method="POST" action=".">
      <ul>
        {% for field in form %}
          <li>
            {{ field.errors }}
	    
            <label for="{{ field.name }}">{{ field.label_tag }}</label> {{ field }}
          </li>
        {% endfor %}
      </ul>

      <div class="submit-button">
        <input type="submit" value="Create" />
      </div>
    </form>
  </div>
{% endblock %}
