{% extends "base.html" %}

{% block header %} Latest {{ block.super }}s {% endblock %}

{% block content_left %}

{% for publication in publications %}
   <p>
      Title: {{ publication.title }}
      <br />
      Description: {{ publication.description }}
      <br />
      Added: {{ publication.added  }}
   </p>
   <p>
      <form method="POST" action="{% url pub_read publication.id %}">
	<ul>
           {{ reading_form.as_ul }}
	</ul>
	<input type="submit" value="Read" />
      </form>
   </p>
{% endfor %}

{% endblock %}

{% block content_right %}
   <p>
      <a href="{% url pub_create %}">Create a publication</a>
   </p>
{% endblock %}
