{% extends "base.html" %}

{% block header %} Latest reads {% endblock %}


{% block content_left %}

<div id="latest-pubs">
  {% if publications.has_previous %}
    <a href="?page={{ publications.previous_page_number }}">previous</a>
  {% endif %}

  Page {{ publications.number }} of {{ publications.paginator.num_pages }}.

  {% if publications.has_next %}
    <a href="?page={{ publications.next_page_number }}">next</a>
  {% endif %}


  {% for publication, reading in publications.object_list %}

    <hr />

    <p>
      <div class="label">Title</div>
      <div class="value"><a href="{% url pub_view publication.id %}">{{ publication.title }}</a></div>
    </p>
    <p>
      <div class="label">Description</div>
      <div class="value">{{ publication.description }}</div>
    </p>
    <p>
      <div class="label">Added</div>
      <div class="value">{{ publication.added|date }}</div>
    </p>
    
      {% if reading %}
        <div class="reading">
          your rating: {{ reading.rating }}/5
        </div>
      {% else %}
        {% if user.is_authenticated %}
          <div class="reading-form">
            <form method="POST" action="{% url pub_read publication.id %}">
	      <ul>
                {% for field in reading_form %}
                  <label for="{{ field.name }}">{{ field.label_tag }}</label> {{ field }} 
                {% endfor %}
	       </ul>

	      <div class="submit-button">
 	        <input type="submit" value="Read" />
              </div>
	      <input type="hidden" name="next" value="{% url pub_latest %}" />
            </form>
          </div>
        {% endif %}
      {% endif %}
  {% endfor %}

</div>
{% endblock %}

