{% extends "base.html" %}

{% block imports %}
  <script src="{{ MEDIA_URL }}main.js" type="text/javascript"></script>
{% endblock %}

{% block header %} {{ publication.title}} {% endblock %}

{% block content_left %}

<div id="view-pub">
  <hr />

  <p>
    <div class="label">Title</div>
    <div class="value">{{ publication.title }}</div>
  </p><p></p>
  <p>
    <div class="label">Description</div>
    <div class="value">{{ publication.description }}</div>
  </p>
  <p>
    <div class="label">Added</div>
    <div class="value">{{ publication.added|date }}</div>
  </p>
  <p>
    <div class="label">Created by</div>
    <div class="value">{{ publication.owner.username }}</div>
  </p>


  {% if reading %}
    <div id="reading">
      your rating: {{ reading.rating }}/5
    </div>
  {% else %}
    {% if user.is_authenticated %}

      {% if reading_form.errors %}
      <div id="reading-button" class="reading-button" style="display: none;">
      {% else %}
      <div id="reading-button" class="reading-button">
      {% endif %}    
        <button onClick="blindEffect('reading', ''); return false;">
          Read this
        </button>
      </div>
      
      {% if reading_form.errors %}
      <div id="reading-form" style="display: block;">
      {% else %}
      <div id="reading-form">
      {% endif %}
        <form method="POST" action="{% url pub_read publication.id %}">
	  <ul>
            {% for field in reading_form %}
              <div class="errors">{{ field.errors }}</div>
              <label for="{{ field.name }}">{{ field.label_tag }}</label> {{ field }} 
            {% endfor %}
	  </ul>

          <div class="submit-button">
	    <input type="submit" value="Read" />
          </div>
	  <input type="hidden" name="next" value="{% url pub_view publication.id %}" />
        </form>
      </div>
    {% endif %}      
  {% endif %}

  <hr />
  <h3>Quotes</h3>
  <div id="quotes-list">
  {% if quotes %}
    {% for quote in quotes %}
      <div class="quote">
        "{{ quote.text }}"
      </div>
    {% endfor %}
  {% else %}
    No quotes have been added for {{ publication.title }}
  {% endif %}
  </div>

  {% if user.is_authenticated %}

    {% if quote_form.errors %}
    <div id="quote-button" class="quote-button" style="display: none;">
    {% else %}
    <div id="quote-button" class="quote-button">
    {% endif %}    
      <button onClick="blindEffect('quote', ''); return false;">
        Add a quote
      </button>
    </div>
      
    {% if quote_form.errors %}
    <div id="quote-form" style="display: block;">
    {% else %}
    <div id="quote-form">
    {% endif %}
      <form method="POST" action="{% url pub_quote publication.id %}">
        <ul>
          {% for field in quote_form %}
            <div class="errors">{{ field.errors }}</div>
              <label for="{{ field.name }}">{{ field.label_tag }}</label> {{ field }} 
          {% endfor %}
	    </ul>

        <div class="submit-button">
	      <input type="submit" value="Add Quote" />
        </div>
	    <input type="hidden" name="next" value="{% url pub_view publication.id %}" />
      </form>
    </div>
    {% endif %}      
</div>
{% endblock %}

