{% extends "base.html" %}

{% block header %} {{ publication.title}} {% endblock %}

{% block content_left %}

<div id="view-pub">
  <p>
    Title: {{ publication.title }}
    <br />
    Description: {{ publication.description }}
    <br />
    Added: {{ publication.added|date  }}
  </p>
  <p>
    {% if reading %}
      You have read this book (your rating: {{ reading.rating }}/5)
    {% else %}
      {% if user.is_authenticated %}
        <form method="POST" action="{% url pub_read publication.id %}">
	  <ul>
            {{ reading_form.as_ul }}
	  </ul>
	  <input type="submit" value="Read" />
	  <input type="hidden" name="next" value="{% url pub_view publication.id %}" />
        </form>
      {% endif %}
    {% endif %}
  </p>

</div>
{% endblock %}

