<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>{% block title %}Readr{% endblock %}</title>
</head>
<body>

    <h1>Readr</h1>
    <hr />

    <h2>
      {% block header %}Publication{% endblock %}
    </h2>
		<table>
		<tr>
		<td valign="top">
    	{% block content_left %}{% endblock %}
		</td>

		
		<td valign="top">
    	{% block content_right %}{% endblock %}
		</td>
		</table>

    {% block footer %}
    	<hr />
    	<p>&copy; 2008</p>
    {% endblock %}
</body>
</html>
