<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
  <title>{% block title %}Readr{% endblock %}</title>
  <link href="{{ MEDIA_URL }}site.css" type="text/css" rel="stylesheet">

</head>
<body>

  <h1>Readr</h1>

  <div id="nav">
    {% if user.is_authenticated %}
      Welcome {{ user.username }} | <a href="{% url logout %}">Log out</a>
    {% else %}
      <a href="{% url login %}">Login</a> | <a href="{% url register %}">Register</a>
    {% endif %}
  </div>
  <hr />

  <h2>
    {% block header %}{% endblock %}
  </h2>

  <div id="content-body">
    <div id="left-content-body">
      {% block content_left %}{% endblock %}
    </div>
		
    <div id="right-content-body">
      {% block content_right %}
	<p>
          <a href="{% url pub_create %}">Create a publication</a>
        </p>
        <p>
          <a href="{% url pub_latest %}">Latest publications</a>
	</p>
      {% endblock %}
    </div>
  </div>

  <div id="footer">
    {% block footer %}
      <hr />
      <p>&copy; Samuel Fortier Galarneau {% now "Y" %}</p>
    {% endblock %}
  </div>

</body>
</html>
