{% extends "base.html" %}

{% block header %}Please log in{% endblock %}

{% block content_left %}

{{ form.non_field_errors }}

<div id="login-form">
  <form action="{% url login %}" method="POST">
    <ul>
      {% for field in form %}
        <li>
          {{ field.errors }}
          <label for="{{ field.name}}">{{ field.label_tag }}</label> {{ field }}
        </li>
      {% endfor %}
    </ul>

    <div class="submit-button">
      <input type="submit" value="Login" />
    </div>
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
</div>
{% endblock %}
